body { 
    background: #04356A;
    margin: 0;
    color: lightblue;
}

.seth-image {
    width: 100%;
    max-width: 512px;
    object-fit: cover;
    margin-top: 1em;
}

.content {
    width: 100%;
}

.blurb {
    float: left;

    p {
        max-width: 450px
    }
}

.image {
    float: right;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.nav-bar {
    margin-right: 1em;
    padding: 0.75em 1em;
    list-style-type: none;
    background-color: #7d96c2;
    border-radius: 1em;
    

    li {
        display: inline-block;
        padding: 14px 16px;
        background-color: #5875a6;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    li:hover {
        background-color: #4a618a;
    }
}

.header {
    display: flex;
    padding: 0;
    margin: 0;
    background: #001D3f;
}

.title-bar {
    flex: 1;
    margin: 1em 1em 0;
}