body { 
    background: #04356A;
    margin: 0;
    color: lightblue;
}

.seth-image {
    width: 100%;
    max-width: 512px;
    object-fit: cover;
    border-radius: 50%;
}

.content {
    width: fit-content;
}

.blurb {
    min-width: 300px;
    margin-right: 1em;

    p {
        max-width: 450px
    }
}

.image {
    text-align: center;
    min-width: 265px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1em;
    flex-wrap: wrap-reverse;
}

.nav-bar {
    margin: 1em;
    padding: 0.75em 1em;
    list-style-type: none;
    background-color: #7d96c2;
    border-radius: 1em;
    min-width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    
    li {
        display: inline-block;
        padding: 14px 16px;
        background-color: #5875a6;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    li:hover {
        background-color: #4a618a;
    }
}

.header {
    display: flex;
    padding: 0;
    margin: 0;
    background: #001D3f;
    flex-wrap: wrap;
}

.title-bar {
    flex: 1;
    margin: 1em 1em 0;
}

.links {
    justify-content: center;
    display: flex;
    gap: 1em;
    
    img {
        width: 45px;
        /* credit: https://codepen.io/sosuke/pen/Pjoqqp */
        /* Target color: #7d98c3 */
        filter: brightness(0) saturate(100%) invert(63%) sepia(23%) saturate(584%) hue-rotate(178deg) brightness(91%) contrast(86%);
    }
}