<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Page</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
    </head>
    <body>
        <div class="header">
            <h1 class="title-bar">orange.ender.boo</h1>
            <ul class="nav-bar">    
                <a href="/portfolio"><li>Portfolio</li></a>
                <a><li>Contact</li></a>
                <a><li>Resume</li></a>
            </ul>
        </div>
    </body>
</html>