<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
</head>
<body>
    {% include "header.html" %}
    <div class="content-wrapper">
        <div class="blurb content">
            <h2>
                Hello! I'm Seth
            </h2>
            
            <p>
                Minima nobis molestiae accusantium eos et. Aut facere nihil qui. Laudantium dolorum nihil commodi explicabo.
            </p>
            <p>
                Quis voluptates fugit sit dolores fugiat dolor et. Fugiat harum voluptas aut autem dignissimos. Repellendus dolorem illum fuga eum corporis minus quia quis.
            </p>
            <p>
                Assumenda aut expedita eaque harum aut molestiae ea. Tempora tempore perspiciatis delectus quia. Doloremque mollitia voluptatem vel. Quod dolorem distinctio quam. Et voluptas nihil eum.
            </p>
            <p>
                Perferendis laudantium laborum optio veritatis culpa eum. Iusto odit et incidunt sunt dolores. Et ut nisi minima. Asperiores consequatur eligendi cumque minus. Est eos laudantium nemo ut. Ex dolorum nobis recusandae est non unde unde.
            </p>
            <p>
                Ullam architecto quibusdam dolor. Blanditiis rerum dolor consequatur eius officiis odio necessitatibus facilis. Ad itaque voluptatibus assumenda corrupti aut voluptas deserunt. Dolor enim impedit qui. Aperiam ullam perferendis nihil repudiandae molestiae explicabo.
            </p>
        </div>

        <div class="image content">
            <img class="seth-image" src="{{ url_for('static', filename='seth-art.png')}}" alt="Art of me!" >
        </div>
    </div>
    <div class="links">
        <a href="https://github.com/SethColeman50"><img src="../static/link-icons/github-icon.png"></a>
        <a href="https://www.linkedin.com/in/seth-e-coleman/"><img src="../static/link-icons/linkdin-icon.png"></a>
        <a href="https://discord.com/users/453325432658460685"><img src="../static/link-icons/discord-icon.png"></a>
        <a href="mailto:sethcoleman2003@gmail.com"><img src="../static/link-icons/email-icon.png"></a>
        <a href="https://archidekt.com/u/OrangeEnder"><img src="../static/link-icons/arkidekt-icon.png"></a>
        <a href="https://en.pronouns.page/@OrangeEnder"><img src="../static/link-icons/pronouns-logo.png"></a>    
    </div>
</body>
</html>
