<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrangeEnder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
    <link rel="icon" type="image/x-icon" href="../static/favicon.io">
</head>
<body>
    {% include "header.html" %}
    <div class="content-wrapper">
        <div class="blurb content">
            <h2>
                Hello! I'm Seth <sup>(they/them)</sup>
            </h2>
            
            <p>
                I'm a recently graduated software engineer from Pennsylvania. Recently I've been working on <a href="https://github.com/SethColeman50/mtgSpoilerBot">my discord bot that posts new Magic: the Gathering cards</a> and <a href="https://github.com/SethColeman50/website">this website</a>! Enjoy you stay!
            </p>
        </div>

        <div class="image content">
            <img class="seth-image" src="{{ url_for('static', filename='seth-art.png')}}" alt="Art of me!" >
        </div>
    </div>
    <div class="links">
        <a href="https://github.com/SethColeman50"><img src="../static/link-icons/github-icon.png"></a>
        <a href="https://www.linkedin.com/in/seth-e-coleman/"><img src="../static/link-icons/linkdin-icon.png"></a>
        <a href="https://discord.com/users/453325432658460685"><img src="../static/link-icons/discord-icon.png"></a>
        <a href="mailto:sethcoleman2003@gmail.com"><img src="../static/link-icons/email-icon.png"></a>
        <a href="https://archidekt.com/u/OrangeEnder"><img src="../static/link-icons/arkidekt-icon.png"></a>
        <a href="https://en.pronouns.page/@OrangeEnder"><img src="../static/link-icons/pronouns-logo.png"></a>    
    </div>
</body>
</html>
